<a href="https://colab.research.google.com/github/MinYongKim/Python/blob/master/5__ControlStatement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 5. Python 제어문
## 5.1 조건문

### `If 문`

- 조건에 따라 코드를 다르게 실행
- 지정한 조건에 따라 다르게 분기해 명령을 수행
- 조건의 만족 여부에 따라서 코드 수행 결과가 달라짐
- 전체적은 구조를 잡을때는  `pass` 를 사용한다

In [ ]:
# if

x = 91

if (x>=90) :
    print('합격')

합격

In [ ]:
# if ~ else
# else는 단독으로 쓸 수 없고 반드시 if와 함께 써야 함
score = input(' ')

if int(score) >= 90 :
    print('합격')
else :
    print('불')

 100
합격

In [ ]:
user = input("")
if int(user) % 2 == 0:
    print("짝수")
else:
    print("홀수")

15
홀수

In [ ]:
# if ~ elif ~ else

grade = input('')

if int(grade) >= 90 :
    if int(grade) == 100 :
        print('perfect')
    else :
        print('A')
elif (int(grade) >=80) and (int(grade)<90) :
    print('B')
elif (int(grade) >=70) and (int(grade)<60) :
    print('C')
else :
    print('F')

100
perfect

In [ ]:
user = input("입력값: ")
num = int(user)-20
if num > 255:
    print(255)
elif num < 0:
    print(0)
else:
    print(num)

입력값: 280
255

## 5.2 반복문

- 반복적으로 수행하는 구문
- 효율적인 코드를 작성하기 위함
- for 문
- while 문

### for in range()
- range(start, stop, step)
- start, stop은 양의정수, 음의 정수, 0 모두 사용가능
- start부터 시작해서 stop 전까지(stop은 포함되지 않음) step만큼 계속
더해 <반복 범위>를 만듬
- step 은 양의 정수,음의 정수만 사용

In [ ]:
# 리스트를 이용한 반복문
data = [0,1,2,3,4,5]

for i in data:
    i=i+1
    print(i, i+10)

# range() 함수를 이용한 반복문

for i in range(5):
    i = i+1
    print(i)

In [ ]:
# range() 함수를 이용한 반복문

for i in range(5,20,1):
    i = i+1
    print(i)

### 중첩 for 문
- for 문 안에 for문 구조를 이용한다

In [ ]:
x_list = ['x1', 'x2']
y_list = ['y1', 'y2']

print('x y')
for x in x_list :
    for y in y_list:
        print(x,y)

x y
x1 y1
x1 y2
x2 y1
x2 y2

In [ ]:
# N개 리스트
name = ['james', 'robert','lisa', 'mary']
score = [95, 96, 97, 94]

for i in range(len(name)):
    print(name[i], score[i])

james 95
robert 96
lisa 97
mary 94

In [ ]:
# zip()함수
name = ['james', 'robert','lisa', 'mary']
score = [95, 96, 97, 94]

for name, score in zip(name, score):
    print(name, score)

james 95
robert 96
lisa 97
mary 94

### while문
- 조건에 따라 반복 여부 결정
- 반복 범위 없이 조건에 따라서 반복 수행 여부를 결졍하는 경우

In [ ]:
i = 0
sum = 0
print ('i, sum')

while (sum<20) :
    i = i*1 
    sum = sum+ i
    print(i,sum)

i, sum
1 1
2 3
3 6
4 10
5 15
6 21