<a href="https://colab.research.google.com/github/MinYongKim/Python/blob/master/6_Input%26Output.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 6. 입력과 출력
## 6.1 입력과출력
- 코딩 후 실행한 결과를 화면이나 파일로 출력
- 데이터를 읽어서 처리

## 6.2 기본출력
- print() 함수의 기본 출력 방법
- 문자열 구분 `,` 를 사용 자동으로 빈칸이 하나씩 들어감
- print() 함수 안에서 두 문자열 사이의 구분하는 값 sep인자 사용
- `\n` 줄바꿈
- 문자열 + 문자열 가능
- 문자열과 숫자는 `+` 연산자로 연결 할 수 없음

In [3]:
print("Hello Python!!")
print("Best", "python", "book")
print("Best", "python", "book", sep="-:*:-")
print("abcd" + "efg")
print("Best", "python", "book" + ":", "This book")
print("James is my friend. \nHe is Korean.")

Hello Python!!
Best python book
Best-:*:-python-:*:-book
abcdefg
Best python book: This book
James is my friend.
He is Korean.

## 6.3 형식 지정 출력
- 문자열에 데이터가 출력될 위치와 형식을 지정하는 방식
- `%` 나머지 연산자는 데이터의 출력 형식과 위치 지정
    - print("%type" %data)
    - 문자열 %s, 정수 %d(i), 실수 %f(소수점 6자리까지)
- data 두 개 이상이면 순서대로 입력, 튜플 형식으로 data 입력
    - print("%type %type" % (datal, data2))

In [5]:
name = 'Kim'
print("%s는 너의 친구다" %(name))

# data 두개 이상
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이:%d" %(name1,age1))
print("이름: %s 나이:%d" %(name2,age2))

Kim는 너의 친구다
이름: 김민수 나이:10
이름: 이철희 나이:13

### string.format()
- print("{0} {1} {2} ••• {n}".format(data_0, data_1, data_2, •••, data_n))
- data 내용 중 일부만 출력할 수도 있음
- 1:1 매칭

In [13]:
a1 = "cat"
a2 = "dog"
a3 = "pig"

print("animal: {0}".format(a1))
print("animal: {2}, {0}, {1}".format(a1,a2,a3))
# {}빈 공백시 () 입력순대으로 데이터 입력
print("animal: {}, {}, {}".format(a1,a2,a3))

name = "Tomas"
age = 10
a = 0.123456789
f_str = "Str: {0}, Int:{1}, Float:{2}"
print(f_str.format(name,age,a))
# 소수점 반올림 되어 출력
print("{0:0.2f}, {0:.5f}".format(a))

animal: cat
animal: pig, cat, dog
animal: cat, dog, pig
Str: Tomas, Int:10, Float:0.123456789
0.12, 0.123456789

## 6.3 키보드 입력
- data = input("입력 받는 값 소개")
    - input() 함수 안의 ‘문자열’은 화면에 표시
    - 입력 후 Enter를 누르면 `문자열` 형태로 data 변수에 대입
    - 숫자를 연산에 이용 한다면 연산 전에 입력 받은 숫자를 정수 혹은 실수로 변환 (문자열을 정수 변환이 필요하다)

In [14]:
data = input("당신의 이름은? ")
print("당신은 {} 이군요".format(data))
print(type(data))

당신의 이름은? 김 민용
당신은 김 민용 이군요
<class 'str'>

In [15]:
# 정수, 실수 정수 int(), float()
a = input("정사각형 한변의 길이는? ")
area = int(a)**2
print("정사각형의 넓이는 {}".format(area))
print("a의 타입은: ",type(a))
print("area의 타입은 : ",type(area))

정사각형 한변의 길이는? 5
정사각형의 넓이는 25
a의 타입은:  <class 'str'>
area의 타입은 :  <class 'int'>

## 6.4 파일 읽고 쓰기
- 파이썬 내장 함수 open() 사용
- f = open('filename','mode')